@model VibeManager_Api.Models.EVENTS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EVENTS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_rows)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_rows)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_columns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_columns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERS.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERS.fullname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
